/* Styles borrowed from http://jgthms.com/web-design-in-4-minutes */

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
}

main {
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 50em;
}

h2 {
  margin: 1em;
  padding-top: 1em;
  padding-bottom: 5em;
  font-size: 1.8em;
}

h1,
h2,
strong {
  color: #eee;
  font-weight: 100;
}

div.post {
  color: #777d8a;
  padding: 1em;
  border-left: 1px solid #69c;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #777d8a;

}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-right: 1px solid #d8dee9;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 0.6em;
  letter-spacing: 0.2em;
}

header {
  background-color: #263d36;
  background-image: url("/unsplash.jpeg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
  margin: 0 auto;
}

header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
  border-radius: 50%;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header a.roundlink {
  border: 1px solid #8EB8FA;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #8EB8FA;
  color: white;
}

