<header id="header">
  <img id="logo" src="ben.jpg" alt="Logo">
  <h1 id="title">XT014_D</h1>
  <p>
    <a href="http://benoror.com" class="roundlink" target="_blank">by Ben Orozco</a>
  </p>
  <p>
    <a href="https://medium.com/p/8e3ebe263a76" target="_blank">more info</a>
  </p>
</header>

<main>
  {{outlet}}
</main>
